Aula_09_CodeLab_Estruturas de Repetição e Listas.py
Material/Aula 01 - Introdução a Lógica e Python.pdf
Material/Aula 01 - Variáveis, Print, Input e Operadores.pdf
Material/Aula 03 P1 - GitHub e Git no Codelab.pdf
Material/Aula 03 P2 - Manipulação de Strings.pdf
Material/Aula 03 P3 - Estruturas Condicionais.pdf
Material/Aula 05 -  While.pdf
Material/Aula 06 - Laço For.pdf
Material/Aula 08 - Listas.pdf
